<a href="https://colab.research.google.com/github/GabrielBoribor/DSA-58010/blob/main/Array_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#creating an arrey of number elements 


num = [1,2,3] #3x3 matrix
print(num)

[1, 2, 3]

In [3]:
#looping
animals = ["dog","cat","fish"] #3x3 matrix
for x in animals:
    print(x)

dog
cat
fish

In [4]:
#looping breaking
animals = ["dog","cat","fish"] #3x3 matrix
for x in animals:
  print(x)
  if x=="cat":
    break

dog
cat

In [5]:
animals = ["dog","cat","fish"]
x=animals [2]
y=animals [1]
print(x)
print(y)

fish
cat

In [6]:
#modifying
animals = ["dog","cat","fish"]
animals[0]= "bird"
print (animals)

['bird', 'cat', 'fish']

In [7]:
#inserting array elements 
animals = ["dog","cat","fish"]
animals.append("monkey")
print (animals)

['dog', 'cat', 'fish', 'monkey']

In [8]:
#removing
animals = ["dog","cat","fish"]
animals.pop(2)
animals.pop(1)
print(animals)

['dog']

In [9]:
#lenght of the array
animals = ["dog","cat","fish"]
x=len(animals)
print(animals)

['dog', 'cat', 'fish']

In [10]:
import numpy as np
num = np.array([[1,2],[3,4]])   
print (num)

[[1 2]
 [3 4]]