<a href="https://colab.research.google.com/github/GabrielBoribor/DSA-58010/blob/main/Python_Module_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [16]:
import array as r

r.typecodes #get all typecodes
a = r.array('i',[1,2,3,4,5,6])  #initializing array a
b = r.array('f',[1.5,2.5,3.5,4.5,5.5,6.5]) #initializing array b
print(a.typecode) #getting the typecode of a
print(b.typecode) #getting the typecode of b

i
f

Example 2. Create/convert the elements of array A to float/decimal number

In [17]:
A = array.array ('f',[1,2,3,4,5,6])
print(A)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0])

Example 3

In [32]:
import array 
a = array.array('i',[4,5,6,7]) # initializing array A
b = array.array('i',[1,2,3]) # initializing array B
a.insert (1,2) # inserting element: 2 at index: 1
print(a) # printing array a
a.insert (-1,0) #insert element: 0 at index: -1
print(a)
a.insert(6,8) #insert element: 8 at index: 6, this is  out of range
print(a)
b[0] = 5
print(b)
b[-1] = 9
print(b)

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 0, 7])
array('i', [4, 2, 5, 6, 0, 7, 8])
array('i', [5, 2, 3])
array('i', [5, 2, 9])

In [45]:
class Node: #function to initialize the node object
  def __init__(self, data):
    self.data = data # Asssign Data
    self.next = None # Initialize as null   

# Linked List class
   

# Function to initialize the linked 
#List object
class LinkedList:
      def __init(self,second):
        self.head = None # Initialize head as null
        self.second = None
        self.third = None
      
      def printList(self):
        temp = self.head
        while(temp!=None):
          print(temp.data)
          temp = temp.next

list = LinkedList () # Empty List
list.head = Node(1)
second = Node (2)
third = Node(3)
fourth = Node(4)

list.head.next = second
second.next = third
third.next = fourth

list.printList()

1
2
3
4